.today-showcase {
  display: flex;
  justify-content: space-between;
  max-height: 40vw;

  &__photo {
    width: 57.5%;

    & img {
      object-fit: cover;
    }
  }

  &__box {
    width: 40%;
    background-color: #f3f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
  }
}
