.select-seats {
  &__cinema-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 2px solid rgb(221, 221, 221);
  }

  &__screen {
    display: inline-block;
    width: 55rem;
    height: 2rem;
    background-color: black;
    padding: 0.5rem;
    box-shadow: 0 15px 10px 0px rgba(123, 0, 9, 0.3);
    animation: screenFlick 7s infinite;

    @keyframes screenFlick {
      0% {
        box-shadow: 0 15px 10px 0px rgba(123, 0, 9, 0.3);
      }
      25% {
        box-shadow: 0 15px 10px 0px rgba(255, 108, 0, 0.3);
      }
      50% {
        box-shadow: 0 15px 10px 0px rgba(0, 106, 95, 0.3);
      }
      75% {
        box-shadow: 0 15px 10px 0px rgba(83, 119, 0, 0.3);
      }
      100% {
        box-shadow: 0 15px 10px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__seating-area {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(autofill, 1fr);
    gap: 8px 4px;
  }
}
