.social-list {
  list-style: none;
  display: flex;

  &__item {
    &:not(:first-child) {
      margin-left: 2rem;
    }

    & a,
    a:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}
