.search-bar {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;

  background: linear-gradient(-45deg, #337a58, #383e4e, #493a19);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &--show {
    opacity: 1;
    height: 10rem;
  }

  &__form {
    display: flex;
    align-items: stretch;
    height: 100%;
  }

  &__input {
    width: 100%;
    border: none;
    margin-left: 2rem;
    font-size: 4rem;
    color: #fff;
    background-color: transparent;

    &::placeholder {
      color: #fff;
    }

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__button {
    cursor: pointer;
    align-self: center;
    background-color: transparent;
    border: none;
    margin-right: 2rem;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    font-weight: 300;
    color: #fff;

    &:active,
    &:focus {
      outline: none;
    }
  }

  &__icon {
    transition: transform 0.2s;
  }

  &__button:hover &__icon {
    transform: rotate(-90deg);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
