.ticket-purchase {
  width: 80%;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__main {
    height: 47rem;
    margin: 2rem 0;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
  }

  &__button {
    cursor: pointer;
    height: 4rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 2rem;

    &--disabled {
      background-color: rgb(99, 99, 99);
      cursor: default;
    }
  }

  &__cancel {
    cursor: pointer;
    background-color: inherit;
    border: none;
    outline: none;
    margin: 1rem auto;
    padding: 1rem;
    width: 20rem;
    font-size: 1.6rem;
  }
}
