.ticket-purchase {
  width: 80%;
  font-size: 1.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & h3 {
    margin-left: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;

    & label {
      margin-top: 1rem;
    }
  }

  &__button {
    cursor: pointer;
    height: 5rem;
    border: none;
    background-color: black;
    color: white;
    font-size: 2rem;
  }

  &__cancel {
    cursor: pointer;
    background-color: inherit;
    border: none;
    outline: none;
    margin: 1rem auto;
    padding: 1rem;
    width: 20rem;
    font-size: 1.6rem;
  }
}
