.seat {
  height: 3.2rem;
  width: 3.2rem;
  position: relative;
  border-radius: 5px;

  & p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--disable {
    cursor: default;
    background-color: grey;
  }

  &--taken {
    cursor: default;
    background-color: #999999;
  }

  &--taken-legend {
    cursor: default;
    background-color: #999999;
  }

  &--free {
    cursor: pointer;
    color: black;
    background-color: white;
    border: 3px solid black;

    &:hover {
      background-color: #9999997e;
    }
  }

  &--free-legend {
    cursor: default;
    color: black;
    background-color: white;
    border: 3px solid black;
  }

  &--selected {
    cursor: pointer;
    color: white;
    background-color: black;
  }

  &--selected-legend {
    cursor: default;
    color: white;
    background-color: black;
  }
}
