.seat {
  height: 3rem;
  width: 3rem;
  position: relative;
  border-radius: 5px;

  & p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--disable {
    background-color: grey;
  }

  &--taken {
    background-color: red;
  }

  &--free {
    cursor: pointer;
    background-color: lightblue;

    &:hover {
      background-color: lightgreen;
    }
  }

  &--selected {
    cursor: pointer;
    background-color: green;
  }
}
