.footer-list {
  list-style: none;
  display: flex;

  &__item {
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &::after {
      display: block;
      content: "";
      height: 1px;
      border-bottom: 1px solid black;
      transform: scaleX(0);
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }

    & a,
    a:visited {
      text-decoration: none;
      color: inherit;
    }
  }
}
