.footer-container {
  grid-column: full-start / full-end;
  grid-row: 4 / 5;

  background-color: #fff;
  color: black;

  &__main {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding: 2rem;
  }
}
